.container{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid rebeccapurple;
    transition: width 3s,height 3s;
    transition-delay: 1s;
}
.container:hover{
    width: 150px;
    height: 150px;
}